@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nothing+You+Could+Do&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind content;

body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  background-color: #b8c6db;
  background-image: linear-gradient(315deg, #2d81ff 0%, #012453 74%);
  color: white;
}
.dark {
  margin: 1px 2px;
  padding: 2px;
  background: black;
}
h1,
h2,
h3,
h4 {
  font-family: 'Montserrat', sans-serif;
}

.warning {
  padding-left: 10px;
  border-left: 5px solid tomato;
}

.note {
  padding-left: 10px;
  border-left: 5px solid rgb(255, 175, 55);
}

.link {
  color: rgb(103, 92, 253);
}

pre {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
}

code {
  background-color: rgb(212, 212, 212);
  padding: 5px;
}

/* Dark mode on select menu */
/* URL:  https://stackoverflow.com/questions/63212723/using-dark-mode-in-react-select */
.my-react-select-container .my-react-select__control {
  @apply bg-white dark:bg-slate-900 border-2 border-slate-300 dark:border-slate-900 hover:border-slate-400 dark:hover:border-slate-500;
}

.my-react-select-container .my-react-select__control--is-focused {
  @apply border-slate-500 hover:border-slate-500 dark:border-slate-400 dark:hover:border-slate-400 shadow-none;
}

.my-react-select-container .my-react-select__menu {
  @apply bg-slate-100 dark:bg-slate-900 border-2 border-slate-300 dark:border-slate-600;
}

.my-react-select-container .my-react-select__option {
  @apply text-slate-600 dark:text-slate-200 bg-slate-100 hover:bg-slate-200 dark:bg-slate-900 dark:hover:bg-slate-800;
}
/* .my-react-select-container .my-react-select__option--is-focused {
  @apply bg-slate-200 dark:bg-slate-800;
} */

.my-react-select-container .my-react-select__indicator-separator {
  @apply bg-slate-400;
}

.my-react-select-container .my-react-select__input-container,
.my-react-select-container .my-react-select__placeholder,
.my-react-select-container .my-react-select__single-value {
  @apply text-slate-600 dark:text-slate-200;
}
.download-btn {
  @apply text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800 m-5 p-5;
}
.shuffle-on {
  @apply text-green-500 hover:text-green-800 transition duration-500 ease-in-out;
}